img{
  width:100%;
}
.login-button{
  display: flex;
  justify-content: flex-end;
  margin:20px;
  gap:5px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
  margin-bottom:32px;
}
.nav-section .logo{
  width:100px;
}
.menu-area{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 34px;
  max-width: 1140px;
  margin:0 auto;
}
.menu-list{
  display: flex;
  list-style-type: none;
  margin:0;
}
.menu-list li{
  padding:0 10px;
}
.search-wrap{
  position: absolute;
  right: 0;
  top:0;
  border-bottom:1px solid #222;
}
.search-wrap input{
  border:none;
}
.product_box{
  margin-bottom:30px;
  cursor: pointer;
}
.product_box:hover{
  transform: scale(1.1);
  z-index: 1;
}
.productAll_wrap,
.product_detail{
  margin-top:20px;
}
.product_detail .thumb a:hover img{
  width:110%;
}
.product_detail .choice{
  font-weight: 400;
  word-break: break-word;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 20px;
  color:#f22441;
}
.product_detail  .name{
  font-weight: 400;
  word-break: break-word;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
}
.product_detail  .price{
  margin: 2px 0 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product_detail  .icon{
  font-size: 11px;
  letter-spacing: 0;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productDetail_wrap{
  width:100%;
  margin-top:20px;
}
.product-img{
  display: flex;
  justify-content: flex-end;
}
.product-cont .name{
  font-size:1.6em;
  line-height: 1.6;
  font-weight: 400;
}
.product-cont .price{
  font-size:1.2em;
  line-height: 1.6;
  font-weight: 500;
}
.product-cont .choice{
  font-size:0.8em;
  line-height: 1.6;
}
.mBot10{
  margin-bottom:10px;
}
.product-button{
  width:100%;
}